### Name: Abhinav Deepak Mali
### Roll Number: 0084
### Batch: T3
### Class: TE Computer
### Subject: Data Science and Big Data Analytics
### Practical Number: 2

### Data Wrangling II
Create an “Academic performance” dataset of students and perform the following operations using
Python.
1. Scan all variables for missing values and inconsistencies. If there are missing values and/or
inconsistencies, use any of the suitable techniques to deal with them.
2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable
techniques to deal with them.
3. Apply data transformations on at least one of the variables. The purpose of this
transformation should be one of the following reasons: to change the scale for better
understanding of the variable, to convert a non-linear relation into a linear one, or to
decrease the skewness and convert the distribution into a normal distribution.

Reason and document your approach properly.

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [7]:
dataframe = pd.read_csv("EduData.csv")

In [8]:
dataframe

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,T,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [9]:
#dealing with missing value of topic column by replacing NaN with most common value i.e. mode
dataframe = dataframe.replace("?",np.nan)

In [10]:
dataframe.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     2
SectionID                   0
Topic                       2
Semester                    0
Relation                    8
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [12]:
mode = dataframe["Topic"].mode()
dataframe["Topic"] = dataframe["Topic"].fillna(mode[0])

In [13]:
dataframe.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     2
SectionID                   0
Topic                       0
Semester                    0
Relation                    8
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [14]:
#Removing rows of relation and gradeID columns
dataframe = dataframe.dropna(subset = "Relation")
dataframe = dataframe.dropna(subset = "GradeID")

In [15]:
dataframe.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [16]:
#replacing raisehands missing values with mean
dataframe["raisedhands"] = dataframe["raisedhands"].astype(float)

In [17]:
mean = dataframe["raisedhands"].mean(skipna = True)
dataframe["raisedhands"] = dataframe["raisedhands"].fillna(mean)

In [18]:
dataframe.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [19]:
dataframe["Semester"].value_counts()

Semester
F    240
S    228
T      2
Name: count, dtype: int64

In [20]:
dataframe = dataframe.drop(dataframe[dataframe["Semester"] == "T"].index)

In [21]:
dataframe["Semester"].value_counts()

Semester
F    240
S    228
Name: count, dtype: int64

In [22]:
dataframe["ParentAnsweringSurvey"].value_counts()

ParentAnsweringSurvey
Yes    261
No     207
Name: count, dtype: int64

In [23]:
dataframe = dataframe.drop(columns = ["ParentAnsweringSurvey"])

In [24]:
dataframe

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20.0,20,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,25,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40.0,50,12,50,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,2.0,7,4,8,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50.0,77,14,28,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55.0,74,25,29,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30.0,17,14,57,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35.0,14,23,62,Bad,Above-7,L

In [25]:
dataframe["raisedhands"] = dataframe["raisedhands"]/dataframe["raisedhands"].max()

In [26]:
dataframe["VisITedResources"] = dataframe["VisITedResources"]/dataframe["VisITedResources"].max()

In [27]:
dataframe

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.15,0.161616,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.20,0.202020,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.10,0.070707,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.30,0.252525,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,0.40,0.505051,12,50,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,0.02,0.070707,4,8,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,0.50,0.777778,14,28,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,0.55,0.747475,25,29,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,0.30,0.171717,14,57,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,0.35,0.141414,23,62,Bad,Above-7,L

In [28]:
dataframe["GradeID"].value_counts()

GradeID
G-02    142
G-08    115
G-07     98
G-04     48
G-06     31
G-11     13
G-12      9
G-09      5
G-10      4
G-05      3
Name: count, dtype: int64

In [29]:
list2=list(dataframe["GradeID"].unique())

In [30]:
list2.sort()

In [31]:
list2

['G-02',
 'G-04',
 'G-05',
 'G-06',
 'G-07',
 'G-08',
 'G-09',
 'G-10',
 'G-11',
 'G-12']

In [32]:
i=0
for values in list2:
    dataframe["GradeID"] = dataframe["GradeID"].replace(values,i)
    i+=1
dataframe

C:\Users\user\AppData\Local\Temp\ipykernel_244\2526134356.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe["GradeID"] = dataframe["GradeID"].replace(values,i)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.15,0.161616,2,20,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.20,0.202020,3,25,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.10,0.070707,0,30,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.30,0.252525,5,35,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.40,0.505051,12,50,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,F,Jordan,Jordan,MiddleSchool,5,A,Chemistry,F,Father,0.02,0.070707,4,8,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,5,A,Geology,F,Father,0.50,0.777778,14,28,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,5,A,Geology,S,Father,0.55,0.747475,25,29,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,5,A,History,F,Father,0.30,0.171717,14,57,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,5,A,History,S,Father,0.35,0.141414,23,62,Bad,Above-7,L

In [33]:
absentDays = list(dataframe["StudentAbsenceDays"].unique())

In [34]:
i=0
for days in absentDays:
    dataframe["StudentAbsenceDays"] = dataframe["StudentAbsenceDays"].replace(days,i)
    i+=1
dataframe

C:\Users\user\AppData\Local\Temp\ipykernel_244\4143132402.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe["StudentAbsenceDays"] = dataframe["StudentAbsenceDays"].replace(days,i)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.15,0.161616,2,20,Good,0,M
1,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.20,0.202020,3,25,Good,0,M
2,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.10,0.070707,0,30,Bad,1,L
3,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.30,0.252525,5,35,Bad,1,L
4,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.40,0.505051,12,50,Bad,1,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,F,Jordan,Jordan,MiddleSchool,5,A,Chemistry,F,Father,0.02,0.070707,4,8,Bad,1,L
476,F,Jordan,Jordan,MiddleSchool,5,A,Geology,F,Father,0.50,0.777778,14,28,Bad,0,M
477,F,Jordan,Jordan,MiddleSchool,5,A,Geology,S,Father,0.55,0.747475,25,29,Bad,0,M
478,F,Jordan,Jordan,MiddleSchool,5,A,History,F,Father,0.30,0.171717,14,57,Bad,1,L
479,F,Jordan,Jordan,MiddleSchool,5,A,History,S,Father,0.35,0.141414,23,62,Bad,1,L

In [35]:
dataframe["Discussion"].value_counts()

Discussion
70    23
40    22
33    20
50    18
30    16
      ..
95     1
65     1
76     1
73     1
62     1
Name: count, Length: 90, dtype: int64

In [36]:
s_cut = pd.cut(dataframe["Discussion"],5,labels = ["Very low","Low","Medium","High","Very High"])

In [37]:
s_cut

0      Very low
1           Low
2           Low
3           Low
4        Medium
         ...
474    Very low
476         Low
477         Low
478      Medium
479        High
Name: Discussion, Length: 468, dtype: category
Categories (5, object): ['Very low' < 'Low' < 'Medium' < 'High' < 'Very High']

In [38]:
dataframe["binned_discussion_equal_width"] = s_cut

In [39]:
dataframe

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class,binned_discussion_equal_width
0,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.15,0.161616,2,20,Good,0,M,Very low
1,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.20,0.202020,3,25,Good,0,M,Low
2,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.10,0.070707,0,30,Bad,1,L,Low
3,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.30,0.252525,5,35,Bad,1,L,Low
4,M,KW,KuwaIT,lowerlevel,1,A,IT,F,Father,0.40,0.505051,12,50,Bad,1,M,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,F,Jordan,Jordan,MiddleSchool,5,A,Chemistry,F,Father,0.02,0.070707,4,8,Bad,1,L,Very low
476,F,Jordan,Jordan,MiddleSchool,5,A,Geology,F,Father,0.50,0.777778,14,28,Bad,0,M,Low
477,F,Jordan,Jordan,MiddleSchool,5,A,Geology,S,Father,0.55,0.747475,25,29,Bad,0,M,Low
478,F,Jordan,Jordan,MiddleSchool,5,A,History,F,Father,0.30,0.171717,14,57,Bad,1,L,Medium
479,F,Jordan,Jordan,MiddleSchool,5,A,History,S,Father,0.35,0.141414,23,62,Bad,1,L,High